@media only screen and (max-width: 600px) {
  div.user-info {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75em;
    background-color: white;
  }

  div.challenge-alert, div.intro {
    width: 70%;
  }
}

@media only screen and (max-width: 380px) {
  html body {
    zoom: 1.2;
  }
}

@media only screen and (max-width: 350px) {
  html body {
    zoom: 1.1;
  }
}

@media only screen and (max-width: 320px) {
  html body {
    zoom: 1;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 1.3;
}

html, body { 
  margin: 5px 0 0 5px; 
  padding: 0; 
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 1em;
}

button {
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.submit {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 5px;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: blue;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

input {
  font-size: 0.8em;
  margin-bottom: 5px;
}

p.login-error {
  color: rgb(255, 85, 85);
  font-size: 0.9em;
}

a, a:visited {
  margin-right: 10px;
  color: black;
}

#welcome-instruction {
  color: gray;
}

div.user-info p {
  display: inline;
  margin: 0 5px 0 5px;
}

p#current-player-name {
  font-weight: bold;
}

div.user-info {
  display: inline;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

button.logout {
  width: auto;
  height: auto;
  font-size: 1em;
  border: none;
  background: none;
  color: blue;
  padding: 0;
  margin: 0 5px 0 5px;
}

hr {
  border: 0.5px solid black;
  margin: 20px 0 20px -20px;
}

input#filter {
  border: 1px solid black;
  border-radius: 0;
}

ul.player-list {
  list-style: none;
  padding: 0;
}

li.player {
  margin-bottom: 10px;
}

li.player p {
  display: inline;
  font-weight: bold;
}

div.challenge-alert {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

div.intro {
  position: fixed;
  top: 30%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
}

div.intro p {
  font-size: 1.3em;
  margin: 8px 15px;
}

div.fuddll-intro {
  background-color: aqua;
  width: auto;
}

div.challenge-alert p {
  font-size: 1.3em;
  margin-top: 0;
}

div.challenge-alert button {
  margin: 10px 5px 0 5px;
  font-size: 1em;
}

div.challenge-alert button.accept {
  background-color: aqua;
}

li.player-scoreboard p {
  display: inline;
  margin: 0 5px 0 5px;
}

li.player-scoreboard p.player-scoreboard-name {
  margin: 0 5px 0 0;
  font-weight: bold;
}

li.player-scoreboard {
  margin-bottom: 10px;
}

button.challenge {
  margin-left: 10px;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: aqua;
}

button.waiting-request {
  margin-left: 10px;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 10px;
}

button.declined {
  margin-left: 10px;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: rgb(255, 85, 85);
  color: black;
}

.board-container {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  border: 2px solid black;
  width: fit-content;
  float: left;
}

.toolbox {
  margin: 10px 10px 0 0;
  clear: left;
  border: solid blue 1.5px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  float: left;
}

.toolbox.countdown {
  margin: 0 0 10px 10px;
  clear: none;
}

.toolbox.countdown.warning {
  border: solid rgb(255, 85, 85) 1.5px;
}

.toolbox.waiting {
  color: gray;
  border: solid black 1.5px;
}

.toolbox[data-hidden=true] {
  border: none;
}

.instructions:disabled {
  display: none;
}

.point {
  position: relative;
  text-align: center;
}

div.button {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.button button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

div.button button.fuddlling {
  background-color: rgb(230, 230, 230);
  border: none;
}

.blank {
  background-color: white;
}

.green {
  background-color: rgb(0, 180, 80);
  color: white;
}

.red {
  background-color: rgb(255, 85, 85);
  color: white;
  content: 'x';
}

.blue {
  background-color: blue;
  color: white;
  content: 'x';
}

button.submit {
  width: auto;
  height: auto;
  font-size: 1em;
  background-color: aqua;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  border: 1.5px solid black;
  margin-left: -10px;
}

button.waiting {
  width: auto;
  height: auto;
  font-size: 1em;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  border: 1.5px solid black;
  margin-left: -10px;
}

button.submit:disabled {
  display: none;
}

.svg {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
}

div.shapes-container {
  margin: 195px 0 0 0;
}

svg.rotate-svg {
  margin: 0 15px 0 0;
}

.line {
  stroke-width: 2px;
  stroke: black;
}

.line-blue {
  stroke-width: 3px;
  stroke: blue;
}

.line-gray {
  stroke-width: 3px;
  stroke: rgb(180, 180, 180);
}

.line-aqua {
  stroke-width: 3px;
  stroke: aqua;
}